@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Cinzel:wght@400;500;600;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 7, 62);
}

body > div {
    /* display: flex; */
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.9); */
    height: 100vh;
    width: 80vw;
}

#site-container{
    display: flex;
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.5);
}

#left-background{
    display: flex;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1599148400620-8e1ff0bf28d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1854&q=80);
    background-size: cover;
    width: 28vw;
    height: 100vh;
    /* border: 2px solid red; */
}

#logo-container{
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 139, 0.2);
    font-family: 'Cinzel', serif;
    color: azure;
    /* border: 2px solid green; */
    width: 100%;
    height: 12.5%;
    position: absolute;
    top: 23%;
    align-items: center;
    justify-content: center;
}

#logo-container > img{
    margin-left: 15%;
    max-height: max(80%, 5vw);
}   
#logo-container > div{
    flex: 1;
    max-width: 100%;
    font-size: max(5vw, 3rem);
    /* border: 2px solid red; */
}

footer{
    flex: 1;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    
    /* border: 1px solid green; */
}

footer > a:visited{
    color: aliceblue;
}

#content-container{
    flex: 1;
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;
    /* border: 2px solid green; */
}

h1,h2,h3{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    font-weight: 500;
    padding: 0.5rem 2rem;
    margin: 0;
    /* border: 1px solid red; */
}


#content-container p{
    color: aliceblue;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
}

#content-container div{
    box-sizing: border-box;
    padding: clamp(0.5rem, 1vw, 1rem);
    font-family: monospace, sans-serif, serif;
    /* border: 1px solid red; */
}

#upper-section,
#bottom-section{
    background-color: #0ab6e55e;
    height: 35%;
}

#middle-section{
    height: 30%;
    box-shadow: inset 0px 0px 10px 1px whitesmoke, -10px 0px 10px 5px rgba(3, 46, 120, 0.701); 


}

