@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Cinzel:wght@400;500;600;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 7, 62);
}

body > div {
    /* display: flex; */
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 80vw;
}

#site-container{
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.5);
}

#left-background{
    display: flex;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1599148400620-8e1ff0bf28d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1854&q=80);
    background-size: cover;
    width: 28vw;
    height: 100vh;
}

#logo-container{
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 139, 0.2);
    font-family: 'Cinzel', serif;
    color: azure;
    /* border: 2px solid green; */
    width: 100%;
    height: 12.5%;
    position: absolute;
    top: 23%;
}

#logo-container > img{
    margin-left: 15%;
}   
#logo-container > div{
    flex: 1;
    max-width: 100%;
    font-size: 5vw;
    white-space: nowrap;
    /* border: 2px solid red; */
}